.pageContainer {
  /* max-height: 100vh; */
  overflow: hidden;
}
.navbar {
  width: 100%;
  height: 3rem;
  /* background: #1a1515; */
  background: var(--background-black);
  color: var(--font-Color-White);
  display: flex;
  align-items: center;
}
.logo {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 0.8rem;
}
.logoBackdrop {
  /* background: rgb(223, 147, 33); */
  background: var(--primary-Col);
  box-shadow: 2px 2px 20px -2px rgb(63, 0, 9);
  border: 1px solid rgba(21, 1, 26, 0.705);
  padding: 0.3rem;
  /* border-radius: 30px 0px 30px 0px; */
  border-radius: 81% 19% 28% 72% / 56% 40% 60% 44%;
}
.hero {
  background: var(--background-black);
  height: 100vh;
  color: var(--font-Color-White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heroText {
  /* background: blue; */
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: -7rem;
  margin-left: 0.8rem;
  z-index: 1;
  font-family: var(--font-family-one);
}
.heroPara {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
}
.heroImage {
  width: 20%;
  height: auto;
  filter: drop-shadow(20px 30px 20px #b113d18f);
  position: absolute;
  right: 2rem;
  top: 4rem;
  /* background: red; */
  animation: swing 3s linear infinite alternate;
  z-index: 0;
}
.signupBtn {
  width: 6.5rem;
  height: 1.8rem;
  margin-top: 2rem;
  background: rgb(180, 26, 26);
  border: none;
  border-radius: 20px;
  color: var(--font-Color-White);
  cursor: pointer;
  font-weight: 700;
}
@keyframes swing {
  0%,
  100% {
    top: 4rem;
  }
  50% {
    top: 6rem;
  }
}
