.postCardContainer {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 23px;
  box-shadow: -1px 1px 45px -21px rgba(32, 32, 32, 0.486);
}
.postUserInfoContainer {
  display: flex;
}
.postBodyContainer {
  font-size: 0.9rem;
  color: var(--font-Color);
  white-space: pre-line;
}
.postUserAvatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  border: 1px solid gray;
  /* background: var(--avatar-Backdrop); */
}
.postUserInfo {
  width: 80%;
  margin-left: 0.8rem;
}
.postFullName {
  font-size: 1.05rem;
  font-weight: 500;
}
.postTimeWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.postUsername {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--font-Gray);
}
.postTime {
  font-size: 0.8rem;
  color: var(--font-Gray);
}
.postImageContainer {
  max-width: 100%;
  border-radius: 20px;
}
.imageKitImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.postBodyContainer {
  margin-top: 1rem;
}
.postInteractionsContainer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  /* background: purple; */
  color: var(--font-Color);
}
.postInteraction {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.postInteractionOption {
  font-size: 1.2rem;
}
.postInteractionNumbers {
  font-size: 1.1rem;
  margin-left: 0.5rem;
}
.likedButton {
  color: var(--primary-Col);
}
@media only screen and (min-width: 620px) {
  .postCardContainer {
    width: 70%;
  }
  .postInteractionsContainer {
    width: 20%;
    /* margin: auto; */
  }
}
