.bannerContainer {
  height: 5rem;
  width: 100%;
  background: rgb(235, 203, 203);
}
.avatarContainer {
  margin-top: -2rem;
}
.avatar {
  width: 5rem;
  border: 3px solid white;
  border-radius: 50px;
  background: rgb(230, 153, 52);
}
.followBtnWrapper {
  display: flex;
  /* background: red; */
  justify-content: space-between;
  align-items: center;
}
.followBtn {
  height: 1.5rem;
  width: 4rem;
  margin-right: 2rem;
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  background: rgb(17, 97, 218);
  color: white;
}
.userInfo {
  margin-left: 1rem;
}
.bio {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.followerContainer {
  display: flex;
  background: rgb(230, 230, 227);
}
.following {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
